__pycache__
private_constants.py
.DS_Store
*.tm_build_errors
build/*
*.tm_build_errors
**/xcshareddata/WorkspaceSettings.xcsettings
xcschememanagement.plist
*.xcworkspacedata
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcschemes
*xcuserdatad
*.xcuserdatad
*.xcbkptlist
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
profile
*.moved-aside
*~.nib
.*.sw*
